In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("Study Data\Data.csv")

In [ ]:
data

In [ ]:
# Missing Values Replace by Pandas
new_data = data.copy()
new_data['Age'] = data['Age'].fillna((data['Age'].mean()))
new_data['Salary'] = data['Salary'].fillna((data['Salary'].mean()))
new_data

In [9]:
# Missing Values replace by imputer
new_data = data.values # convert to array elemet for slicing
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(new_data[:, 1:3])
new_data [:,1:3] = imputer.transform(new_data[:,1:3])

In [10]:
new_data

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 63777.77777777778, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 38.77777777777778, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)