In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv("Study Data\Data.csv")
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(
    missing_values=np.nan,
    strategy="mean"
)
new_data = data.values
imputer = imputer.fit(new_data[:,1:3])
new_data[:,1:3] = imputer.transform(new_data[:,1:3])

In [8]:
new_data

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 63777.77777777778, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 38.77777777777778, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)

In [10]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
new_data[:,1:3] = std.fit_transform(new_data[:,1:3])

In [11]:
new_data

array([['France', 0.758874361590019, 0.7494732544921677, 'No'],
       ['Spain', -1.7115038793306814, -1.4381784072687531, 'Yes'],
       ['Germany', -1.2755547779917342, -0.8912654918285229, 'No'],
       ['Spain', -0.1130238410878753, -0.253200423814921, 'No'],
       ['Germany', 0.17760889313808945, 6.632191985654332e-16, 'Yes'],
       ['France', -0.5489729424268225, -0.5266568815350361, 'Yes'],
       ['Spain', 0.0, -1.0735697969752662, 'No'],
       ['France', 1.3401398300419485, 1.3875383225057696, 'Yes'],
       ['Germany', 1.6307725642679132, 1.7521469327992565, 'No'],
       ['France', -0.2583402082008577, 0.29371249162530916, 'Yes']],
      dtype=object)